/* Reset and base styles */
* {
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #444444;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
