.hero {
  color: rgb(0, 0, 0);
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {

  font-size: 1.2rem;
}

/* Mobile */
@media (max-width: 768px) {
  .hero h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
  }
  .hero p {
    color: rgb(0, 0, 0);
    font-size: 1rem;
  }
}
